.main-container {
  width: 80%;
  margin: 100px auto;

  .primary {
    width: 240px;
    margin: 16px;
  }

  .home-button {
    margin: 100px 16px 16px;
  }


  .process-selector {
    margin: 0 16px 16px 16px;
    width: 240px;
  }
}
