.app-header {
  height: 65px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

  .flowx-logo {
    height: 50px;
  }

  .logout {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
